{% extends 'HomePage.html.twig' %}

{% block body %}
	<div>
		<h1>{{ controller_name }}</h1>
		<div style="margin-top: 1.25rem;padding-bottom: 1.25rem;">
			{{ form_start(form) }}
			{{ form_end(form) }}
			<button class="btn btn-outline-success" type="submit">Enregistrer</button>
		</div>
	</div>
{% endblock %}
