{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    <div class="content-brand">
        <div class="row">
            <div class="col-9">
                <h4 class="content-title">
                    {% trans %}controllerName.event{% endtrans %}
                </h4>
            </div>
            <div class="col-3 content-search">
                <a href="#"><i class="fas fa-search fa-sm colored-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="subcontainer scrollbar no-extra-padding">
        <h5 class="text-center">
            {% trans %}event.allEvent{% endtrans %}
        </h5>
        {% for event in events %} {% include ('vues/EventCard.html.twig') %} {% endfor %}
    </div>
</div>

<button type="button" class="btn-create btn btn-info btn-lg rounded-circle" onclick="window.location = '/event/create'">
    <i class="fas fa-plus"></i>
</button> {% endblock %} {% block javascripts %} {% endblock %}