{% extends 'HomePage.html.twig' %}

{% block body %}
	<div>
		<h1>{{ controller_name }}</h1>
		<button type="button" class="btn btn-outline-warning" onclick="window.location.href='/event/create'">Organiser</button>
		<div style="margin-top: 1.25rem;padding-bottom: 1.25rem;">
			{% for event in events  %}
				<div style="margin-bottom: 1.25rem;" class="card frame">
					<div class="card-body">
						<h3 class="card-title">{{ event.name }}</h3>
						<p>{{ event.location }}</p>
						<p>{{ event.nbParticipant }}
							participants</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
