{% extends 'HomePage.html.twig' %}

{% block body %}
  <div id="events-container"
    class="gradient-container blur-container marge-box scrollable">
    <h1>{{ event.name }}</h1>
    <h5>Le {{ event.date|format_datetime('full', 'none', locale='fr') }}</h5>
    <br />
    <p>{{ event.description }}</p>
    </div>
{% endblock %}

{% block javascripts %}
    
{% endblock %}