{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    {% include 'vues/ContentHeader.html.twig' with {'controller_name' : 'controllerName.notification'|trans } %}
    <div class="subcontainer scrollbar">
        {% if notifications is empty %}
        <h6 class="text-muted centered-message"><i class="fas fa-hotdog"></i> {% trans %}message.nocontent{% endtrans %}</h6>{% else %}{% for notification in notifications %} {% include ('vues/NotificationCard.html.twig') %} {% endfor %} {% endif %}
    </div>
</div>
{% endblock %} {% block javascripts %} {% endblock %}