<div id="actionFrame">
	<div class="card frame">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-1">
					<div class="navbar-brand">
						<div class="avatarImg" style="background-image: url({{ avatarSrc }});background-position: center;background-size: cover;"></div>
					</div>
				</div>
				<div class="col-sm-11">
					<h4>{{ userName }}</h4>
					<span>En ligne</span>
				</div>
			</div>
		</div>
	</div>
</div>
