<div class="content-brand">
    <div class="row">
        <div class="col-9">
            <h4 class="content-title">
                {{controller_name}}
            </h4>
        </div>
        {% if search is defined and search %}
        <div class="col-3 content-search">
            <a href="#" data-toggle="modal" data-target="#searchModal"><i class="fas fa-search fa-sm colored-icon"></i></a>
        </div>
        {% endif %}
    </div>
</div>