<nav id="mobile-navbar" class="navbar navbar-expand-lg">
    <button style="border:none; color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavBarPanel" aria-controls="userNavBarPanel" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="user-container-mobile">
        <img class="avatar-img" src="{{ asset('build/wejdene.jpg') }}" height="100%">
        <p class="avatar-user-name">
            {{ app.user.username }}
        </p>
        <p class="avatar-info">
            test
        </p>
    </div>
</nav>