<nav id="mobile-navbar" class="navbar fixed-bottom">
    <div class="user-container-mobile">
        <a href="/user">
            <img class="avatar-img" src="{{ asset('uploads/images/users/' ~ app.user.image) }}" height="100%">
        </a>
    </div>
    <div class="row mobile-navbar-menu-container">
        <div class="col mobile-navbar-manu-item">
            <a class="nav-link" href="/user">
                <i class="fas fa-user fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-manu-item">
            <a class="nav-link" href="/">
                <i class="fas fa-home fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-manu-item">
            <a class="nav-link" href="/event">
                <i class="fas fa-calendar-alt fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-manu-item">
            <a class="nav-link" href="/community">
                <i class="fas fa-user-friends fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-manu-item">
            <a class="nav-link" href="/settings">
                <i class="fas fa-cog fa-lg"></i>
            </a>
        </div>
    </div>
</nav>