<nav id="mobile-navbar" class="navbar fixed-bottom">
    <div class="user-container-mobile dropup">
        <img class="avatar-img" src="{{ asset('uploads/images/users/' ~ app.user.image) }}" height="100%" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/user"><i class="fas fa-user"></i> Utilisateur</a>
            <a class="dropdown-item" href="/settings"><i class="fas fa-cog"></i> Réglages</a>
            <a class="dropdown-item text-danger" href="/logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </div>
    <div class="row mobile-navbar-menu-container">
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/friend">
                <i class="fas fa-user-friends fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/notification">
                <i class="fas fa-bell fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/">
                <i class="fas fa-home fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/event">
                <i class="fas fa-calendar-alt fa-lg"></i>
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/community">
                <i class="fas fa-campground fa-lg"></i>
            </a>
        </div>
    </div>
</nav>