<nav id="mobile-navbar" class="navbar fixed-bottom">
    <div class="user-container-mobile dropup">
        <img class="avatar-img" src="{{ asset('uploads/images/users/' ~ app.user.image) }}" height="100%" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/settings"><i class="fas fa-cog"></i> {% trans %}menu.settings{% endtrans %}</a>
            <a class="dropdown-item text-danger" href="/logout"><i class="fas fa-sign-out-alt"></i> {% trans %}menu.logout{% endtrans %}</a>
        </div>
    </div>
    <div class="row mobile-navbar-menu-container">
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/">
                {% if menu == "home" %}
                    <i class="fas fa-home fa-lg current-item"></i>
                {% else %}
                    <i class="fas fa-home fa-lg"></i>
                {% endif %}
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/event">
                {% if menu == "event" %}
                    <i class="fas fa-calendar-alt fa-lg current-item"></i>
                {% else %}
                    <i class="fas fa-calendar-alt fa-lg"></i>
                {% endif %}
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/notification">
                {% if menu == "notification" %}
                    <i class="fas fa-bullhorn fa-lg current-item"></i>
                {% else %}
                    <i class="fas fa-bullhorn fa-lg"></i>
                {% endif %}
                {% if app.user.getNotifications is not empty %}
                    <span class="dot"></span>
                {% endif %}
            </a>
        </div>
        <div class="col mobile-navbar-menu-item">
            <a class="nav-link" href="/user">
                {% if menu == "user" %}
                    <i class="fas fa-user fa-lg current-item"></i>
                {% else %}
                    <i class="fas fa-user fa-lg"></i>
                {% endif %}
            </a>
        </div>
    </div>
</nav>