<!-- Modal loading -->
<div class="modal fade"
  id="loadingModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content gradient-container blur-container">
      <div class="modal-body">
        <i class="fas fa-circle-notch fa-spin"></i>
        {% trans %}message.loading{% endtrans %}
      </div>
    </div>
  </div>
</div>
