<nav id="mainNavbar">
	<a class="mainNavbar-brand" href="#">
		<img src="{{ asset('build/icon/color/512.png') }}">
	</a>
	<ul class="mainNavbar-menu">
		<li class="mainNavbar-item"><i class="fas fa-igloo"></i></li>
		<li class="mainNavbar-item"><i class="fas fa-user-friends"></i></li>
		<li class="mainNavbar-item"><i class="fas fa-cog"></i></li>
	</ul>
	<ul class="mainNavbar-footer">
		<li class="mainNavbar-item"><i class="red-glow fas fa-sign-out-alt"></i></li>
	</ul>
</nav>
