<nav id="mainNavBar">
	<a class="mainNavBar-brand" href="#">
		<img src="{{ asset('build/icon/color/512.png') }}">
	</a>
	<ul class="mainNavbar-menu">
		<li class="mainNavbar-item"><i class="fas fa-igloo"></i></li>
	</ul>
</nav>
