<div class="list-card">
    <div class="list-card-title-container">
        <h4 class="list-card-title">
            {{ notification.title }}
        </h4>
    </div>
    <div class="list-card-button-container">
        <button type="button" onclick="window.location = '{{notification.link}}'" class="btn btn-outline-info btn-round list-card-button">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</div>