<div class="box-container right-col-container">
    <div class="right-col-subcontainer">
        <div class="right-col-subcontainer-follow">
            <div class="col-11">
                <p>
                    {% trans %}rightcol.whofollow{% endtrans %}
                </p>
            </div>
            <div class="scrollbar"></div>
            <button onclick="window.location = '/community'" class="show-more-button stick-bottom">
        {% trans %}rightcol.showmore{% endtrans %}
      </button>
        </div>
    </div>
    <div class="right-col-subcontainer">
        <div class="right-col-subcontainer-near">
            <div class="col-11">
                <p>
                    {% trans %}rightcol.around{% endtrans %}
                </p>
            </div>
            <div class="scrollbar"></div>
            <button onclick="window.location = '/event'" class="show-more-button stick-bottom">
        {% trans %}rightcol.showmore{% endtrans %}
      </button>
        </div>
    </div>
    <div class="right-col-subcontainer">
        <div class="right-col-subcontainer-news">
            <div class="col-11">
                <p>
                    {% trans %}rightcol.news{% endtrans %}
                </p>
            </div>
            <div class="scrollbar"></div>
            <button onclick="window.location = '/home'" class="show-more-button stick-bottom">
        {% trans %}rightcol.showmore{% endtrans %}
      </button>
        </div>
    </div>
</div>