<div class="box-container right-col-container">
  <div class="right-col-subcontainer">
    <div class="right-col-subcontainer-follow">
      <div class="col-11">
        <p>
          Qui suivre
        </p>
      </div>
      <div class="scrollbar"></div>
      <button onclick="window.location = '/community'" class="show-more-button">
        Voir plus
      </button>
    </div>
  </div>
  <div class="right-col-subcontainer">
    <div class="right-col-subcontainer-near">
      <div class="col-11">
        <p>
          Autour de vous
        </p>
      </div>
      <div class="scrollbar"></div>
      <button onclick="window.location = '/event'" class="show-more-button">
        Voir plus
      </button>
    </div>
  </div>
  <div class="right-col-subcontainer">
    <div class="right-col-subcontainer-news">
      <div class="col-11">
        <p>
          Nouveautés
        </p>
      </div>
      <div class="scrollbar"></div>
      <button onclick="window.location = '/home'" class="show-more-button">
        Voir plus
      </button>
    </div>
  </div>
</div>
