<div id="userNavBar" class="navbar navbar-expand-lg gradient-container blur-container">
	<div class="container-fluid">
		<div class="user-container">
			<img src="{{ asset('build/wejdene.jpg') }}" height="55px" width="55px">
			<div class="user-text">
				<h5>{{ app.user.username }}</h5>
				<h6>Communauté : dsqdf</h6>
			</div>
		</div>
		<div class="search-container">
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-secondary" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</div>
</div>
