<div class="user-card">
    <div class="avatar-container">
        <img class="avatar-img" src="{{ asset('uploads/images/users/' ~ user.image) }}" width="45px" height="45px" />
        <p class="avatar-user-name">
            {{ user.pseudo }}
        </p>
    </div>
</div>