<div class="list-card">
    <div class="list-card-image-container">
        <img class="list-card-image-container-img" src="{{ asset('uploads/images/users/' ~ user.image) }}" width="45px" height="45px" />
        <p class="list-card-image-container-img-name">
            {{ user.pseudo }}
        </p>
    </div>
</div>