<div id="userNavBar" class="navbar navbar-expand-lg nav-container">
    <div class="container-fluid">
            <div class="user-container">
                <img src="{{ asset('build/icon/color/512.png') }}" height="30px" width="30px">
                <div class="user-text">
                    <h5>Simon Dubois</h5>
                    <h6>Communauté : dsqdf</h6>
                </div>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </form>
    </div>
</div>