{% extends 'HomePage.html.twig' %}

{% block body %}
<div id="content-container" class="col-9 gradient-container blur-container marge-box scrollable">
    <nav class="navbar gradient-container blur-container" style="border-radius: 10px;">
        <div class="navbar-brand">
            <i class="fas fa-cog fa-sm colored-icon"></i>
            {% trans %}controllerName.settings{% endtrans %}
        </div>
    </nav>
    <div class="subcontainer scrollbar" style="margin-top: 1.25rem;padding-bottom: 1.25rem;">
        {{ form_start(form) }}
        <div class="form-group">
            <label for="event_name">{% trans %}settings.language{% endtrans %}</label>
            {{ form_widget(form.language) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success">{% trans %}button.save{% endtrans %}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}