{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    {% include 'vues/ContentHeader.html.twig' with {'controller_name' : 'community.create.title'|trans } %}
    <div class="subcontainer scrollbar" style="margin-top: 1.25rem;padding-bottom: 1.25rem;">
        {{ form_start(form, {'attr' : {'id':'form'}}) }}
        <div class="form-group">
            <label for="community_name">{% trans %}community.create.name{% endtrans %}</label> {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">{% trans %}button.create{% endtrans %}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %} {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}