{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    {% include 'vues/ContentHeader.html.twig' with {'controller_name' : 'controllerName.community'|trans, 'search' : true } %}
    <div class="subcontainer scrollbar extra-padding">
        {% if communitys is empty %}
        <h6 class="text-muted centered-message"><i class="fas fa-hotdog"></i> {% trans %}message.nocontent{% endtrans %}</h6>{% else %}{% for community in communitys %} {% include ('vues/CommunityCard.html.twig') %} {% endfor %} {% endif %}
    </div>
</div>

<button type="button" class="btn-create btn btn-lg rounded-circle" onclick="window.location = '/community/create'">
	<i class="fas fa-plus"></i>
</button> {% endblock %} {% block javascripts %} {% endblock %}