body {
  background-color: #1a1045;
  color: white;
}
/* Main frame */
#mainFrame {
  background-color: #ffffff18 !important;
  border-radius: 25px;
  border: none;
  width: 96vw;
  height: 92vh;
  margin: 4vh 2vw;
}

.main-container{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2%;
}

.sub-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
}

.nav-container{
  background-color: #0000001f !important;
  border-radius: 25px;
  border: none;
}

/* Main navbar */
#mainNavbar {
  width: 6%;
  height: 100%;
}

.nav-item{
  text-align: center;
}

.navbar-brand{
  margin-right: unset;
}

.nav-link{
  margin: 0.5rem 0;
  padding: 12px !important;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

.nav-link:hover{
  background-color: white;
  color: #2A214C !important;
}

.top-icon{
  margin-top: 15px;
}

.bottom-icon{
  margin-bottom: 15px;
  color: #e55039 !important;
}

/* User Bar container */
#userNavBar{
  width: 100%;
  height: 10%;
}

.user-container{
  margin-left: 2%;
  display: flex;
  align-items: center;
}

.user-text{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-text h5, h6{
  margin: 0;
}

.container-fluid form{
  margin-bottom: 0;
}

.container-fluid form button{
  margin-left: 10px;
}

/* Common frame */

.frame {
  background-color: #0000001f !important;
  border-radius: 25px;
  border: none;
  box-shadow: 0 10px 20px #00000021, 0 6px 6px#00000021;
}

/* Common */

input {
  background-color: #ffffff1f !important;
  border-radius: 10px;
  border: none !important;
  color: white !important;
}

@import '~bootstrap';
