body {
  background-color: #15083b;
}

#mainFrame {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 25px;

  position: fixed;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
}

@import '~bootstrap';
