/* Community Card */

.community-card {
    position: relative;
    background-color: #ffffff1a;
    border-radius: 20px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border: none;
}

.community-card h4,
p {
    margin-bottom: 0;
}

.community-card div {
    color: rgba(255, 255, 255, 0.5);
}

.community-card img {
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #ffffff1a;
}

.community-card button {
    position: absolute;
    right: 1.25rem;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.community-card .card-title {
    padding-left: 1.25rem;
}