#event-description #event-description-collapse.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#event-description #event-description-collapse.collapsing {
    height: 3rem;
}

#event-description a.collapsed::after {
    content: 'Show more';
}

#event-description a:not(.collapsed)::after {
    content: 'Show less';
}

#event-description a {
    text-decoration: none;
}

#event-description a:hover {
    color: rgb(64, 64, 223);
}