.box-container .row {
  margin: 0;
  height: 100%;
}

.subtitle {
  margin-left: 30px !important;
  font-size: 1rem;
  color: #585079;
}

.subtitle a {
  color: #585079;
}

.event-card {
  transition: all 0.5s;
  background-color: #241a4e;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.event-card h4,
p {
  margin-bottom: 0;
}

.event-card div {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.event-card img {
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #463b8c;
}

.event-card h4 {
  font-size: 22px;
}

.event-card p {
  font-size: 15px;
}

.event-card:hover {
  cursor: pointer;
  background-color: #241a4e63;
}

.event-header {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

/*.filter-button{
    border: unset;
    color: rgba(255, 255, 255, 0.5);
}

.filter-button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.filter-button:focus{
    outline: none !important;
}*/
