.box-container .row {
    margin: 0;
    height: 100%;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        .box-container .row {
            height: auto;
        }
    }
}

@media not all and (min-resolution:.001dpcm) {
    @media {
        .box-container .row {
            height: auto;
        }
    }
}

.event-card {
    position: relative;
    display: block;
    margin: auto;
    transition: all 0.5s;
    background-color: #ffffff25;
    border-radius: 25px;
    padding: 1rem;
    height: 25rem;
    margin-bottom: 3rem;
}

.event-card .avatar-img {
    object-fit: cover;
    border-radius: 100%;
}

.event-card:hover {
    cursor: pointer;
}

.event-header {}

.event-card-footer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.event-card-title-container {
    border-radius: 50px;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: #0000005b;
    backdrop-filter: blur(5px);
}

.avatar-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

.avatar-container .avatar-img {
    position: absolute;
    left: 0rem;
}

.avatar-container .avatar-user-name {
    position: absolute;
    left: 3.25rem;
    top: 0.25rem;
}

.avatar-container .avatar-date {
    color: rgba(255, 255, 255, 0.425);
    font-size: 0.75rem;
    position: absolute;
    left: 3.25rem;
    top: 1.25rem;
}

.event-card-info-container {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.event-card-info-subcontainer {
    border-radius: 50px;
    padding: 0.25rem;
    text-align: center;
    background-color: #00000088;
    backdrop-filter: blur(10px);
}

.event-card-info-icon {
    position: absolute;
    left: 1.25rem;
    top: 25%;
}


/* View event */

.event-img {
    width: 100%;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}