/* Event Card */

.event-card {
    position: relative;
    display: block;
    margin: auto;
    transition: all 0.5s;
    background-color: var(--back-color);
    background-position: center;
    border-radius: 25px;
    padding: 1rem;
    height: 25rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.avatar-img {
    object-fit: cover;
    border-radius: 100%;
}

.event-card:hover {
    cursor: pointer;
}

.event-header {}

.event-card-footer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.event-card-title-container {
    border-radius: 50px;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: var(--back-color-opacity-low);
    backdrop-filter: blur(5px);
}

.avatar-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

.avatar-container .avatar-img {
    position: absolute;
    left: 0rem;
}

.avatar-container .avatar-user-name {
    color: var(--font-color-reverse);
    position: absolute;
    left: 3.25rem;
    top: 0.25rem;
}

.avatar-container .avatar-date {
    color: var(--font-color-reverse-light);
    font-size: 0.75rem;
    position: absolute;
    left: 3.25rem;
    top: 1.5rem;
}

.friends-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.friends-container .friend-round {
    margin-left: -1rem;
    display: inline-block;
}

.friends-container .friend-round .friend-round-avatar {
    object-fit: cover;
    border-radius: 100%;
}

.event-card-info-container {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.event-card-info-subcontainer {
    border-radius: 50px;
    padding: 0.25rem;
    text-align: center;
    background-color: var(--back-color-opacity-low);
    backdrop-filter: blur(10px);
}

.event-card-info-icon {
    position: absolute;
    left: 1.25rem;
    top: 25%;
}

.event-card-thin {
    position: relative;
    display: block;
    margin: auto;
    transition: all 0.5s;
    background-color: var(--back-color);
    background-position: center;
    border-radius: 25px;
    padding: 1rem;
    height: 8rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.event-card-thin:hover {
    cursor: pointer;
}

.event-card-thin .event-card-footer {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 20rem;
}

.event-card-thin .event-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}