#stories-wrapper {
    display: grid;
}

#stories-container {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-y: hidden;
    margin-bottom: 3rem;
}

#stories-container::-webkit-scrollbar {
    display: none;
}

#stories-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.story {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.story .profile {
    margin: 0.5rem;
    border-radius: 50%;
}

.story .profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}