@media (max-width: 1199.98px) {
  #right-col {
    display: none;
  }

  #mainNavbar {
    display: none;
  }

  .scrollable {
    padding-right: 0 !important;
  }

  .event-card {
    width: 100%;
  }

  .sub-container {
    margin-left: 0;
  }
  
  .box-container {
    padding: 1.25rem;
  }
}
