#mainNavbar {
    width: 8vw;
    height: 100%;
    border-right: 1px solid rgba(97, 97, 97, 0.199);
}

#mainNavbar .nav-item {
    text-align: center;
}

#mainNavbar .navbar-brand {
    margin-right: unset;
}

#mainNavbar .nav-link {
    color: rgba(255, 255, 255, 0.384);
    margin: 0.75rem 0;
    padding: 12px !important;
    transition: color 0.5s;
}

#mainNavbar .nav-link:hover {
    color: white !important;
}

#mainNavbar .top-icon {
    margin-top: 15px;
}

.bottom-icon {
    margin-bottom: 15px;
    color: #e55039 !important;
}

.back-container {
    background-color: rgba(42, 32, 83, 1) !important;
    border-radius: 25px;
    border: none;
}


/* mobile navbar in develop */

#mobile-navbar {
    display: none;
    margin: 0.25rem;
    min-height: 3.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
}

#mobile-navbar .user-container-mobile {
    z-index: -1;
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    right: 0.25rem;
    left: 0.25rem;
}

#mobile-navbar .user-container-mobile .avatar-img {
    object-fit: cover;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    bottom: 0.25rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

#mobile-navbar .mobile-navbar-menu-container {
    position: absolute;
    top: 0.75rem;
    right: 0.25rem;
}


/*#mobile-navbar .user-container-mobile .avatar-user-name {
    position: absolute;
    right: 3.25rem;
    top: 0.25rem;
}

#mobile-navbar .user-container-mobile .avatar-info {
    position: absolute;
    right: 3.25rem;
    top: 1.25rem;
    color: rgba(255, 255, 255, 0.425);
    font-size: 0.75rem;
}*/