/* Right-col */

.right-col-container {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    color: black;
    border-radius: 25px;
    background-color: var(--reverse-back-color);
}

.right-col-subcontainer {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.right-col-subcontainer-follow {
    position: relative;
    padding: 1.25rem;
    height: calc(35% - 0.75rem);
    color: black;
    border-radius: 25px;
    background-color: var(--back-color-opacity);
}

.right-col-subcontainer-near {
    position: relative;
    padding: 1.25rem;
    height: calc(35% - 0.75rem);
    color: black;
    border-radius: 25px;
    background-color: var(--back-color-opacity);
}

.right-col-subcontainer-news {
    position: relative;
    padding: 1.25rem;
    height: calc(30% - 0.75rem);
    color: black;
    border-radius: 25px;
    background-color: var(--back-color-opacity);
}

.show-more-button {
    width: calc(100% - 2.5rem);
    padding: 0.5rem;
    background-color: #97979748;
    border: none;
    border-radius: 25px;
    transition: background-color 0.5s;
    outline: none;
}

.stick-bottom {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
}

.show-more-button:hover {
    background-color: #9797971e;
}