.user-info-container {
    margin-bottom: 1.25rem;
}

.user-info-container .avatar-img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
}

.user-info-container .user-info-counter {
    padding-top: 2.5rem;
    width: 80%;
    margin: auto;
}

.user-info-counter .col-lg h5 {
    text-align: center;
    opacity: 60%;
}

.user-info-counter .col-lg h6 {
    text-align: center;
    font-weight: bold;
}

.user-info-counter .col-lg {
    padding: 1.25rem;
    background-color: #ffffff17;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}