    .user-card {
        position: relative;
        display: block;
        margin: auto;
        transition: all 0.5s;
        background-color: #ffffff25;
        background-position: center;
        border-radius: 25px;
        padding: 1rem;
        height: 5rem;
        margin-bottom: 1rem;
    }
    
    .user-card .avatar-container {
        position: absolute;
        left: 0.75rem;
        top: 0.75rem;
    }
    
    .user-card .avatar-container .avatar-img {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .user-card .avatar-container .avatar-user-name {
        top: 1rem;
        left: 4rem;
    }