<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" href="{{ asset('build/icon/color/32.png') }}" />

    <title>
        Pelican
    </title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <style>
        @import '../node_modules/bootstrap/scss/functions';
        @import '../node_modules/bootstrap/scss/variables';
        @import '../node_modules/bootstrap/scss/mixins';

        .tagin {
            display: none;
        }

        .tagin-wrapper {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            padding: calc(#{$input-padding-y} - 2px) calc(#{$input-padding-x} - 2px);
            position: relative;
            overflow: hidden;
            cursor: text;

            &.focus {
                color: $input-focus-color;
                background-color: $input-focus-bg;
                border-color: $input-focus-border-color;
                outline: 0;

                @if $enable-shadows {
                    box-shadow: $input-box-shadow, $input-focus-box-shadow;
                }

                @else {
                    box-shadow: $input-focus-box-shadow;
                }
            }

            .tagin.is-valid+&,
            .was-validated .tagin:valid+& {
                border-color: $form-feedback-valid-color;
            }

            .tagin.is-invalid+&,
            .was-validated .tagin:invalid+& {
                border-color: $form-feedback-invalid-color;
            }
        }

        .tagin-tag {
            @include border-radius($input-border-radius, 0);
            border: 0;
            padding: 0.25rem 0.5rem;
            border-radius: 1rem;
            display: inline-flex;
            align-items: center;
            height: 2rem;
            margin: 0.25rem;
            background-color: var(--back-color-opacity-low);
            transition: transform .1s;
        }

        .tagin-tag-remove {
            margin-left: 2px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'/%3E%3C/svg%3E");

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'/%3E%3C/svg%3E");
            }
        }

        .tagin-input {
            margin-left: 2px;
            border-color: transparent;
            outline: 0;
            padding: 0 2px 0 0;
            height: 2.5rem;
            color: var(--font-color);
            background-color: transparent !important;

            &:not(.tagin-input-hidden) {
                width: 4px;
                min-width: 4px;
            }
        }

        .tagin-input-hidden {
            position: absolute;
            top: 0;
            left: -9999px;
            overflow: hidden;
            visibility: hidden;
            white-space: nowrap;
        }
    </style>
    {% endblock %}
</head>

<body>
    <div class="main-container">
        {% include 'vues/NavBar.html.twig' %}
        <div class="sub-container">
            <div class="box-container">
                {% include 'vues/MobileNavBar.html.twig' %}
                <div class="row" style="/*height: calc(100% - 4rem) !important;*/">
                    <div id="bodyFrame" class="col-lg-9">
                        {% block body %} {% endblock %}
                    </div>
                    <div id="right-col" class="col-3">
                        {% include 'vues/RightCol.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'vues/ModalLoading.html.twig' %} {% include 'vues/ModalSearch.html.twig' %}


    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
        integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
        integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ=="
        crossorigin="anonymous" />

    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        function setTheme(theme) {
            localStorage.setItem('theme', theme);
            if (theme === false) {
                document.documentElement.className = 'theme-light';
            } else {
                document.documentElement.className = 'theme-dark';
            }
        }

        (function () {
            setTheme({{ app.request.session.get('_theme') ? 'true' : 'false' }});
        }) ();
    </script>
</body>

</html>