<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" href="{{ asset('build/icon/color/32.png') }}" />

    <title>
        Pelican
    </title>

    {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
</head>

<body>
    <div class="main-container">
        {% include 'vues/NavBar.html.twig' %}
        <div class="sub-container">
            <div class="box-container">
                {% include 'vues/MobileNavBar.html.twig' %}
                <div class="row" style="/*height: calc(100% - 4rem) !important;*/">
                    <div id="bodyFrame" class="col-lg-9">
                        {% block body %} {% endblock %}
                    </div>
                    <div id="right-col" class="col-3">
                        {% include 'vues/RightCol.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'vues/ModalLoading.html.twig' %} {% include 'vues/ModalSearch.html.twig' %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />

    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        function onClickBtnGoToCommunity(communityGoToPath, communityId) {
            $('#loadingModal').modal('show')

            $.ajax({
                url: communityGoToPath,
                cache: false
            }).done(function(response) {
                $('#' + communityId).load('/community #' + communityId)
                setTimeout(() => {
                    $('#loadingModal').modal('hide')
                }, 500)
            })
        }

        function onClickBtnGoToEvent(eventGoToPath, eventId) {
            $('#loadingModal').modal('show')

            $.ajax({
                url: eventGoToPath,
                cache: false
            }).done(function(response) {
                $('#event-' + eventId).load('/event/' + eventId + '/view #event-' + eventId)
                setTimeout(() => {
                    $('#loadingModal').modal('hide')
                }, 500)
            })
        }

        function onClickBtnAddUser(friendAddPath, friendId) {
            $('#loadingModal').modal('show')

            $.ajax({
                url: friendAddPath,
                cache: false
            }).done(function(response) {
                $('#' + friendId).load('/friend #' + friendId)
                setTimeout(() => {
                    $('#loadingModal').modal('hide')
                }, 500)
            })
        }
    </script>

    {% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}
</body>

</html>