<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="{{ asset('build/icon/color/32.png') }}"/>

		<title>
			Pelican
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div id="mainFrame" class="card">
				<div
					class="card-body">
					<!-- NavBar -->
					<div class="row">
						<div class="col-sm-1">
							{% include 'vues/NavBar.twig' %}
						</div>
						<div class="col-sm-11">
							{% include 'vues/ActionFrame.twig' with {'userName':"Martin", 'avatarSrc' : "https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs3/98381915/original/88c2f61d8b8c88d91030e19d12ca832c72b1b99d/design-minimalist-flat-line-vector-avatar-of-you.jpg"} %}
						</div>
					</div>

					<!-- Body Content -->
					{% if page == 0 %}{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>
