{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    <div class="content-brand">
        <div class="row">
            <div class="col-9">
                <h4 class="content-title">
                    {{status_code}} - {{status_text}}
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block javascripts %} {% endblock %}