{% extends 'HomePage.html.twig' %} {% block body %}
<div id="content-container" class="scrollable">
    {% include 'vues/ContentHeader.html.twig' with {'controller_name' : 'controllerName.users'|trans, 'search' : true } %}
    <div class="subcontainer scrollbar">
        {% if users is empty %}
        <h6 class="text-muted centered-message"><i class="fas fa-hotdog"></i> {% trans %}message.nocontent{% endtrans %}</h6>{% else %}{% for user in users %} {% if user != app.user %}{% include ('vues/UserCard.html.twig') %} {% endif %}{% endfor %} {% endif %}
    </div>
</div>
{% endblock %} {% block javascripts %} {% endblock %}